{% extends 'base.html' %}

{% block content %}

<title>Site de Receitas</title>

<div class="container">
	<hr>
	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
			Enviamos a você instruções por e-mail para definir sua senha, caso exista uma conta associada ao endereço de e-mail que você inseriu. Você deve recebê-las em breve.
		  </p>
		  <p class="m-auto p-2">
		    Se você não receber um e-mail, por favor, certifique-se de que inseriu o endereço com o qual se registrou e verifique a sua pasta de spam.
		  </p>
		  
	</div>
</div>

{% endblock %}