{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>Site de Receitas</title>

<div class="container ">
    <div class="row">

        
        <div class="d-lg-none col-lg-7 offset-lg-1 flex-column text-bg-dark"> 
            <div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="{% static 'Logo-site-Blog-com-receitas3SF-removebg-preview.png' %}" width="72" height="72">
				<h3 class="text-center">Publique a sua receita!</h3>
                <p>Compartilhe sua receita favorita com a comunidade.</p>
				<p class="m-auto"><a class="btn btn-warning" href="{% url 'blog:create' %}">Create post</a></p>
			</div>
        </div>
        

        <!-- Blog feed -->
        <div class= "left-column col-lg-7 offset-lg-1 ">
            {% for post in blog_posts %}
            <div class="blog-post-container mt-3">
                {% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
            </div>
            {% empty %}
            <p>Sem Posts</p>
            {% endfor %}

            
        </div>
        
        <!-- End Blog feed -->
        

        <div class="right-column col-lg-3 d-lg-flex d-none flex-column mt-3">
			<div class="card create-post-bar d-flex flex-column p-3 text-bg-dark">
				<img class="img-fluid d-block m-auto pb-2" src="{% static 'Logo-site-Blog-com-receitas3SF-removebg-preview.png' %}" width="72" height="72">
				<h3 class="text-center">Publique a sua receita!</h3>
                <p>Compartilhe sua receita favorita com a comunidade.</p>
				<p class="m-auto"><a class="btn btn-warning" href="{% url 'blog:create' %}">Create post</a></p>
			</div>
		</div>

        {% include 'blog/snippets/blog_post_pagination.html' with blog_posts=blog_posts %}
        
    </div>
</div>

{% endblock content %}
